body {
    text-align: center;
    font-family: sans-serif;
}

.main {
    background: url(images/h_img.jpg);
    background-size: cover;
    margin-top: 0;
    font-size: x-large;
    color: white;
    width: 100%;
    padding-top: 20px;
}

#mouse-click{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 7%;
}

#logo{
    margin-top: 10px;
    margin-bottom: 25px;
}

.About{
    text-align: center;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
    font-family: sans-serif;
}
.h1{
    padding-top: 15px;
}
.p{
    padding-top: 10px;
}
.Services{
    background-image: url(images/s_image.jpg);
    color: white;
    font-family: sans-serif;
    text-align: center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%; 
}
.h2{
    text-size-adjust: small;
}

.Do{
    padding-top: 35px;
    font-family: sans-serif;
    text-align: center;
}
#Portfolio{
    align-items: center;
    margin-right: 6%;
    margin-left: 5%;
    display: flex;

    
}
.Portfolio h2{
    font-family: sans-serif;
    text-align: center;
    padding-top: 35px;
}
.images{
    object-fit: cover;
    width: 80%;
    height: 80%;
}
.overlay{
    text-align: center;
    position: relative;
    display: none;
}

.contact{
    background-image: url(images/c_image\ \(1\).jpg);
    background-size: cover;
    padding-top: 5%;
    background-color: transparent;
    color: whitesmoke;
}
#msg {
    background-color: transparent;
    margin-bottom: 25px;
}
input[type="text"],
input[type="email"],
input[type="submit"],
#msg {
    background-color: transparent;
    margin-bottom: 25px;
}
.footer{
    padding-right: 18px;
    padding-top: 2%;
}

