body {
    text-align: center;
    font-family: sans-serif;
}

.main {
    background: url(images/h_img.jpg);
    background-size: cover;
    margin-top: 0;
    font-size: x-large;
    color: white;
}
#mouse-click{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 7%;
}