body {
    text-align: center;
    font-family: sans-serif;
}

.main {
    background: url(images/h_img.jpg);
    background-size: cover;
    margin-top: 0;
    font-size: x-large;
    color: white;
    width: 100%;
    padding-top: 20px;
}

#mouse-click{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 7%;
}

#logo{
    margin-top: 10px;
    margin-bottom: 25px;
}

.About{
    text-align: center;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
    font-family: sans-serif;
}
